* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: white;
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
  --nav-background-color: rgb(29, 29, 29);
}

/* GENERAL */

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  /* width: 90%; */
  max-width: 1200px;
  /* padding: 50px 0; */
  margin: 0 auto;
}

.videos {
  width: 560px;
}

p {
  max-width: 500px;
  font-size: 1.1rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0px 20px 20px 20px;
}

img {
  max-width: 500px;
  /* max-height: 500px; */
}

.separator {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: rgb(137, 137, 170);
}

/* SHAPES */
.front-page {
  position: relative;
  height: 100dvh;
}

.shapes {
  position: absolute;
  inset: 0;
  background-color: #000000;
  z-index: 2;
}

.shape1 {
  position: absolute;
  clip-path: polygon(0% 0%, 30% 0%, 15% 50%, 35% 100%, 0% 100% );
  box-shadow: 20px;
  transition: margin-left 0.2s ease-in-out;
}

.shape2 {
  position: absolute;
  clip-path: polygon(48% 0%, 31% 60%, 45% 100%, 85% 100%, 60% 0%);
  box-shadow: 20px;
}

.shape3 {
  position: absolute;
  background: linear-gradient(to left, #690b01 0%, #000000 18%);

  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100% );
}

/* .shape4 {
  position: absolute;
  background: linear-gradient(to left, #690b01 0%, #000000 18%);

  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100% );
} */


/* NAV BAR */

nav {
  /* position:relative; */
  position: absolute;
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
  background: linear-gradient(to right, #8e0e00, #1f1c18);
  /* background-color: var(--nav-background-color); */
  padding: 20px 2% 20px 3%;
  align-items: center;
  /* z-index: 1; */
}

.nav-div {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #8e0e00, #1f1c18);
  align-items: center;
  gap: 30px;
}

h1 {
  position: relative;
  z-index: 999;
  font-size: 2.05rem;
  color: rgb(240, 238, 238);
  letter-spacing: 0.7px;
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  padding: 13px 18px;
  border-radius: 3px;
  z-index: 999;
}

.menu {
  z-index: 999;
}


nav a:hover {
  background: linear-gradient(to right,rgba(134, 1, 1, 0.441), rgba(107, 0, 0, 0));
}

/* INICIO */
main {
  position: relative;
  background-color: var(--main-background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  height: auto;
  /* padding-top: 53px; */
}

.accent {
  font-weight: bolder;
  font-size: 1.16rem;
}

.main-photo {
display: block;
/* THIS TWO PROPERTIES ARE WHAT ARE SAVING MY ASS.... */
max-width: none;
max-height: none;
/* margin-left: -0.5%; */
height: 100dvh;
width: 65%;
object-fit: cover;
}

.main-bio {
  flex: 1;
  background-color: rgb(212, 212, 212);
  z-index: 3;
  padding: 2%;
  border-radius: 5px 0 0 5px;
}

/* CLASSICAL */
/* .gradient {
    padding-top: 100px;
    padding-bottom: 100px;
} */

.classic {
    background: linear-gradient(to left, #690b01 0%, #000000 18%);
    /* padding-top: 150px; */
  }
/* .classical {
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(0, 0, 0);
  border:30px solid rgba(153, 113, 27, 0.452);
  background-color: rgba(254, 251, 198, 0.879);
} */

/* .classic {
  background-color: rgb(240, 240, 240);
} */

.classical {
  display: flex;
  padding-top: 200px;
  padding-bottom: 260px;
  color: black;
}

.classical-img {
  filter: brightness(0%);
}

.classical-img img {
  max-height: 695px;
}

.classical-text {
  margin-top: -20px;
}

.video-classical {
  margin-top: 30px;
}

/* WORLD MUSIC */
.world {
  background-color: rgba(171, 85, 32, 0.774);
}

.world-music {
  gap: 80px;
  color: rgb(226, 225, 225);
  padding-top: 80px;
  padding-bottom: 40px;
  /* color: rgb(195, 195, 195); */
  /* border:20px solid rgba(22, 22, 22, 0.902); */
  background-color: rgba(52, 30, 30, 0.913);
}

.world-music-img img {
  max-height: 590px;
}

.video-world {
  margin-top: 55px;
}


/* ROCK */
.rock {
  background-color: rgb(90, 85, 92);
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}


/* EXPERIMENTAL */
.experimental {
  background-color: rgb(218, 215, 247);
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}


/* Ûpcoming Concerts */
.upcoming-concerts {
  padding: 40px;
  color: black;
}
.upcoming-concerts > h2 {
  display: block;
  font-size: 2.5rem;
  text-align: center;
}
.upcoming-concerts > div {
  max-width: 800px;
}

.concert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
  outline: 2px solid black;
  padding: 25px 40px;
  border-radius: 50px;
}

.day {
  font-size: 2.25rem;
  margin-bottom: -15px;
  text-align: center;
}
.month {
  font-size: 1.17rem;
  text-align: center;
}

.concert-description {
font-size: 1.1rem;
}

.concert-link {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}